@model Errander.Models.Errand

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Errander</h1>
    
</div>
<div>
    <p>@Html.ActionLink("Create Errand", "Create", "Errands", null, new { @class = "btn btn-default" })</p>
    <p>@Html.ActionLink("See Errands", "Index", "Errands", null, new { @class = "btn btn-default" })</p>
    @*<p>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "btn btn-default" })</p>*@      @*add button to see errands HERE*@
</div>

   

