@*@model Errander.Models.Errand*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center" >ErrandeR <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></h1>
    @*<a href="@Url.Action("Index", "Home")" class="navbar-brand">ErrandeR <span class="glyphicon glyphicon-transfer GIHSize" aria-hidden="true"></span> </a>*@
    <p class="JumboButtons">@Html.ActionLink("Create Errand", "Create", "Errands", null, new { @class = "btn btn-success" })</p>
    
</div>

<h1 style="text-align: center"> Errands In Your City</h1>

<div>
@Html.Partial("_errands")
</div>


   

